.articles {
  padding: $section-padding;
  @include respond(phone) {
    padding: $section-padding-phone;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 4rem;
  }
}
