.header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  &__logo__link {
    text-decoration: none;
    color: $main-color;
    font-weight: 700;
    font-size: 2.5rem;
    @include respond(phone) {
      font-size: 3.5rem;
    }
  }
  @include respond(phone) {
    flex-direction: column;
    height: auto;
    height: 12rem;
    justify-content: space-around;
  }
}
