.container {
  max-width: 110rem;
  margin: 0 auto;
  & {
    @include respond(lap) {
      max-width: 90rem;
    }
    @include respond(tab) {
      max-width: 75rem;
    }
    @include respond(phone) {
      padding: 0 3rem;
    }
  }
}
