$main-color: #2196f3;
$black-color: #000;
$white-color: #fff;
$light-color-1: #fafafa;
$light-color-2: #e6e6e7;
$light-color-3: #ececec;
$light-color-4: #ccc;
$grey-color: #666;

$line-height: 1.5;

$section-padding: 12rem 0;
$red-color: #f44036;
$green-color: #009688;
$blue-color: #03a9f4;
