body {
  font-family: "Cairo", sans-serif;
}

.heading {
  &__primary {
    font-weight: 700;
    font-size: 4.4rem;
    text-transform: capitalize;
    letter-spacing: -2px;
    @include respond(phone) {
      font-size: 3.5rem;
    }
  }
  &__secondary {
    width: fit-content;
    margin: 0 auto 8rem;
    font-size: 3rem;
    text-transform: uppercase;
    border: 2px solid $black-color;
    padding: 1rem 2rem;
    line-height: 1.1;
    position: relative;
    transition: 0.3s;
    z-index: 1;
    &:hover {
      color: #fff;
      border: 2px solid #fff;
      transition-delay: 0.5s;
    }
    &:hover::before {
      z-index: -1;
      animation: toRight 0.5s linear forwards;
    }
    &:hover::after {
      z-index: -1;
      animation: toLeft 0.5s linear forwards;
    }
    &::before,
    &::after {
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      position: absolute;
      background-color: $main-color;
      top: 50%;
    }
    &::before {
      left: -3rem;
      transform: translateY(-50%);
    }
    &::after {
      right: -3rem;
      transform: translateY(-50%);
    }
  }
  &__tertiary {
    font-size: 2rem;
  }
}
